body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure{margin:0;padding:0}html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{font:400 19px/1.6 BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;color:#222;background-color:#fdfdfd;-webkit-text-size-adjust:100%;-o-font-feature-settings:"kern" 1;font-feature-settings:"kern" 1;-webkit-font-kerning:normal;font-kerning:normal;display:-webkit-box;display:flex;min-height:100vh;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{margin-bottom:15px}main{display:block}.post-content img{max-width:100%;vertical-align:middle;margin-bottom:10px;margin-top:10px}.post-content iframe{margin-bottom:10px;margin-top:10px}figure>img{display:block}figcaption{font-size:14.725px}ul,ol{margin-left:30px}li>ul,li>ol{margin-bottom:0}h1,h2,h3,h4,h5,h6{font-weight:700;line-height:1.2}a{color:#2196F3;text-decoration:none}a:hover{color:#222;text-decoration:underline}.social-media-list a:hover{text-decoration:none}.social-media-list a:hover .username{text-decoration:underline}blockquote{color:#828282;border-left:4px solid #e8e8e8;padding-left:15px;font-size:21.375px;letter-spacing:-1px;font-style:italic}blockquote>:last-child{margin-bottom:0}pre,code{font-size:17.8125px;border:1px solid #e8e8e8;border-radius:3px;background-color:#eef}code{padding:1px 5px}pre{padding:8px 12px;overflow-x:auto}pre>code{border:0;padding-right:0;padding-left:0}.wrapper{max-width:calc(670px - (30px * 2));margin-right:auto;margin-left:380px;padding-right:40px;padding-left:30px}@media screen and (max-width: 800px){.wrapper{max-width:calc(670px - (30px));padding-right:15px;padding-left:15px;margin-left:350px}}.wrapper:after,.footer-col-wrapper:after{content:"";display:table;clear:both}.svg-icon{width:16px;height:16px;display:inline-block;fill:#828282;padding-right:5px;vertical-align:text-top}.social-media-list li+li{padding-top:5px}table{margin-bottom:30px;width:100%;text-align:left;color:#505050;border-collapse:collapse;border:1px solid #e8e8e8}table tr:nth-child(even){background-color:#f7f7f7}table th,table td{padding:10px 15px}table th{background-color:#f0f0f0;border:1px solid #dedede;border-bottom-color:#c9c9c9}table td{border:1px solid #e8e8e8}.site-header{position:relative}.site-title{font-size:30.875px;line-height:54.72px;letter-spacing:-1px;margin-bottom:7px;display:block}.site-title svg{width:180px;height:180px;display:block;margin-bottom:16px;margin-left:-28px}.site-title,.site-title:visited{color:#424242}.site-description{font-size:14px;line-height:20px;font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;margin:0 0 20px}.site-nav .nav-trigger{display:none}.site-nav .menu-icon{display:none}.site-nav .page-link{color:#222;display:block;margin-bottom:14px}@media screen and (max-width: 600px){.site-nav{position:absolute;top:9px;right:15px;background-color:#fdfdfd;border:1px solid #e8e8e8;border-radius:5px;text-align:right}.site-nav label[for="nav-trigger"]{display:block;float:right;width:36px;height:36px;z-index:2;cursor:pointer}.site-nav .menu-icon{display:block;float:right;width:36px;height:26px;line-height:0;padding-top:10px;text-align:center}.site-nav .menu-icon>svg{fill:#424242}.site-nav input ~ .trigger{clear:both;display:none}.site-nav input:checked ~ .trigger{display:block;padding-bottom:5px}.site-nav .page-link{display:block;padding:5px 10px;margin-left:20px}.site-nav .page-link:not(:last-child){margin-right:0}}.trigger{font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;font-weight:700;font-size:15px;line-height:24px}.reserved-info{font-size:12px;line-height:17px;font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;position:fixed;bottom:30px;max-width:220px}.site-footer{border-top:1px solid #e8e8e8;padding:30px 0}.footer-heading{font-size:21.375px;margin-bottom:15px}.contact-list,.social-media-list{list-style:none;margin-left:0}.footer-col-wrapper{font-size:17.8125px;color:#828282;margin-left:-15px}.footer-col{float:left;margin-bottom:15px;padding-left:15px}.footer-col-1{width:calc(35% - (30px / 2))}.footer-col-2{width:calc(20% - (30px / 2))}.footer-col-3{width:calc(45% - (30px / 2))}@media screen and (max-width: 800px){.footer-col-1,.footer-col-2{width:calc(50% - (30px / 2))}.footer-col-3{width:calc(100% - (30px / 2))}}@media screen and (max-width: 600px){.footer-col{float:none;width:calc(100% - (30px / 2))}}

main.page-content {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 400px) {
    align-items: center;
  }
  @media screen and (min-width: 800px) {
    flex-direction: row;
    height: 100vh;
    justify-content: center;
  }
}

p {
  font-size: 14px !important;
  line-height: 22px !important;
  margin: 0 0 10px !important;
}

.leftaside {
  padding: 0 20px;
  @media screen and (min-width: 400px) {
    padding: 0;
    width: 326px;
  }
  @media screen and (min-width: 800px) {
    width: auto;
    padding: 0 20px;
  }
}

.site-description {
  margin-top: 10px !important;
}

div.reserved-info {
  display: none;
}

.caricature {
  object-fit: contain;
  @media screen and (min-width: 400px) {
    max-width: 370px;
  }
  @media screen and (min-width: 800px) {
    height: 85vh;
    max-width: none;
    object-fit: fill;
  }
}